.navigation li{
	display: inline-block;
	float: right;
	font-family: helvetica;
	font-size: 13pt;
	padding-top: 20px;
	margin-right: 10px;
	text-transform: uppercase;
}
.navigation:hover{
	color: white;
}
a{
	color: black;
	text-decoration: none;
}
.middlepane{
	width: 80%;
	height:100%;
	background-color: beige;
	margin-right: auto;
	margin-left: auto;
}
header{
	background-color: #A596F0;
	padding: 0px;
	margin: 10px;
} 
h1{
	padding: 0px;
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
	font-family: courier new;
}
body{
	background-image: url("img/background.jpg");
}
table{
	border: 5px solid black;
	border-collapse: collapse;
	margin-right: auto;
	margin-left: auto;
}
th, td{
	border: 2px solid black;
	border-collapse: collapse;
	text-align: center;
	font-family: courier;
}
h1{
	text-align: center;
	font-family: courier;
	font-size: 35pt;
}
h2{
	font-family: courier new;
	margin-left: 10px;
	text-decoration:underline;
}
.title1{
	text-align: center;
	text-decoration: none;
	color: #454949;
}
h4{
	font-family: arial;
	text-align: justify;
	padding: 10px;
}
.container{
	flex: 50%;
	float: left;
	padding: 5px;
	text-align: center;
}
.imgcontainer{
	display: flex;
}
.container1{
	flex: 33.33%;
	float:left;
	padding: 5px;
	text-align: center;
}
.imgcontainer1{
	display: flex;
}
.caption{
	display: block;
	font-family: courier new;
}
footer{
	text-align: center;
}






